<p>
  <strong>Comentarista:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comentário:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Apagar comentário', [comment.article, comment],
              method: :delete,
              data: { confirm: 'É isso que realmente deseja' } %>
</p>